.mh-button {
    width: 180px;
    height: 50px;
    left: 38px;
    top: 470px;
    border-radius: 10px;
    font-size: large;
    color: white;
    font-family: sans-serif;
    outline-width: 0;
}
.mh-button:hover{
    background: #d83b01;
}

.mh-url-button {
    width: 320px;
    height: 40px;
    left: 38px;
    top: 470px;
    border-radius: 5px;
    font-size: 15px;
    color: white;
    font-family: sans-serif;
    outline-width: 0;
}
.mh-url-button:hover{
    background: #d83b01;
}


.mh-b1 {
    background: #008272;
}
.mh-b2 {
    background: #A4373A;
}
.mh-b3 {
    background: #106EBE;
}
.mh-b4 {
    background: #2B579A;
}
.mh-b5 {
    background: #161514;
}
